body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h2 {
    color: #333;
    text-align: center;
    margin-top: 50px;
}

#importButton{
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    min-width: fit-content;
    min-height: fit-content;
}

#createButton, #searchInput {
    display: none;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    min-width: fit-content;
    min-height: fit-content;
}

#characterDropdown {
    display: none;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    min-width: fit-content;
    min-height: fit-content;
    padding: 0px;
}

#characterDropdown {
    width: 100px;
    margin: auto;
}

#importButton {
    background-color: #007BFF;
    color: white;
}

#createButton {
    background-color: #28a745;
    color: white;
}

#characterDetails {
    display: none;
    width: max-content;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-size: large;
}

    #characterDetails h3 {
        margin-top: 0;
    }

    #characterDetails img {
        width: auto
    }

    #characterDetails ul {
        margin: 0;
        list-style-type: none;
    }

#spinner {
    text-align: center;
    font-size: 1.2em;
    color: #dc3545;
    display: none;
    margin: 100px auto;
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
