<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="209161bd-d026-45a8-af0c-4fd2ea8e3eed" Alias="characterPage" Level="2">
  <Info>
    <Name>Character Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="5683850c-8c51-4359-8270-4eeba78fd616">characterProperties</Composition>
    </Compositions>
    <DefaultTemplate>CharacterPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="9beccd7b-4f54-40db-b6ac-0e7ee2ae97a0">CharacterPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>