@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
<head>
    <link rel="stylesheet" href="~/css/styles.css">
</head>

<header>
    Rick and Morty Character Collection
</header>

@{
    IOrderedEnumerable<IPublishedContent>? selection = null;
    if (Umbraco.ContentAtRoot().FirstOrDefault() is not null)
    {
        selection = Umbraco.ContentAtRoot().FirstOrDefault()!
        .Children()
        .Where(x => x.IsVisible())
        .OrderBy(x => x.Id);
    }

}
<ul id="characterList">
    @foreach (var item in selection!)
    {
        <li>
            <a href="@item.Url()">@item.Name()</a>
        </li>
    }
</ul>

