<?xml version="1.0" encoding="utf-8"?>
<Content Key="b3ca065c-f1b0-447c-b787-47f0813ef3d4" Alias="1-Rick Sanchez" Level="2">
  <Info>
    <Parent Key="61f0bb14-7737-470e-8f56-0d1eaf374bb1">Home Page</Parent>
    <Path>/HomePage/RickSanchez</Path>
    <Trashed>false</Trashed>
    <ContentType>characterPage</ContentType>
    <CreateDate>2024-02-13T01:33:47</CreateDate>
    <NodeName Default="1-Rick Sanchez" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9beccd7b-4f54-40db-b6ac-0e7ee2ae97a0">CharacterPage</Template>
  </Info>
  <Properties>
    <characterName>
      <Value><![CDATA[Rick Sanchez]]></Value>
    </characterName>
    <gender>
      <Value><![CDATA[Male]]></Value>
    </gender>
    <image>
      <Value><![CDATA[https://rickandmortyapi.com/api/character/avatar/1.jpeg]]></Value>
    </image>
    <location>
      <Value><![CDATA[Citadel of Ricks]]></Value>
    </location>
    <origin>
      <Value><![CDATA[Earth (C-137)]]></Value>
    </origin>
    <species>
      <Value><![CDATA[Human]]></Value>
    </species>
    <status>
      <Value><![CDATA[Alive]]></Value>
    </status>
    <type>
      <Value><![CDATA[]]></Value>
    </type>
  </Properties>
</Content>