<?xml version="1.0" encoding="utf-8"?>
<Content Key="bb77ea24-e320-41e3-9636-771e4a9c2c8a" Alias="1-Rick Sanchez" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/RickSanchez</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>characterPage</ContentType>
    <CreateDate>2024-02-12T23:54:17</CreateDate>
    <NodeName Default="1-Rick Sanchez" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9beccd7b-4f54-40db-b6ac-0e7ee2ae97a0">CharacterPage</Template>
  </Info>
  <Properties>
    <characterName>
      <Value><![CDATA[Rick Sanchez]]></Value>
    </characterName>
    <gender>
      <Value><![CDATA[Male]]></Value>
    </gender>
    <image>
      <Value><![CDATA[https://rickandmortyapi.com/api/character/avatar/1.jpeg]]></Value>
    </image>
    <location>
      <Value><![CDATA[Citadel of Ricks]]></Value>
    </location>
    <origin>
      <Value><![CDATA[Earth (C-137)]]></Value>
    </origin>
    <species>
      <Value><![CDATA[Human]]></Value>
    </species>
    <status>
      <Value><![CDATA[Alive]]></Value>
    </status>
    <type>
      <Value><![CDATA[]]></Value>
    </type>
  </Properties>
</Content>