<?xml version="1.0" encoding="utf-8"?>
<Content Key="3abfeb6b-b3df-4dd5-9d74-729ae69cc22a" Alias="11-Albert Einstein" Level="2">
  <Info>
    <Parent Key="61f0bb14-7737-470e-8f56-0d1eaf374bb1">Home Page</Parent>
    <Path>/HomePage/AlbertEinstein</Path>
    <Trashed>false</Trashed>
    <ContentType>characterPage</ContentType>
    <CreateDate>2024-02-13T01:51:26</CreateDate>
    <NodeName Default="11-Albert Einstein" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9beccd7b-4f54-40db-b6ac-0e7ee2ae97a0">CharacterPage</Template>
  </Info>
  <Properties>
    <characterName>
      <Value><![CDATA[Albert Einstein]]></Value>
    </characterName>
    <gender>
      <Value><![CDATA[Male]]></Value>
    </gender>
    <image>
      <Value><![CDATA[https://rickandmortyapi.com/api/character/avatar/11.jpeg]]></Value>
    </image>
    <location>
      <Value><![CDATA[Earth (Replacement Dimension)]]></Value>
    </location>
    <origin>
      <Value><![CDATA[Earth (C-137)]]></Value>
    </origin>
    <species>
      <Value><![CDATA[Human]]></Value>
    </species>
    <status>
      <Value><![CDATA[Dead]]></Value>
    </status>
    <type>
      <Value><![CDATA[]]></Value>
    </type>
  </Properties>
</Content>