<?xml version="1.0" encoding="utf-8"?>
<Content Key="0ad9fb5b-08c9-4d04-a971-0429a04c5ed5" Alias="12-Alexander" Level="2">
  <Info>
    <Parent Key="61f0bb14-7737-470e-8f56-0d1eaf374bb1">Home Page</Parent>
    <Path>/HomePage/Alexander</Path>
    <Trashed>false</Trashed>
    <ContentType>characterPage</ContentType>
    <CreateDate>2024-02-19T14:21:03</CreateDate>
    <NodeName Default="12-Alexander" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9beccd7b-4f54-40db-b6ac-0e7ee2ae97a0">CharacterPage</Template>
  </Info>
  <Properties>
    <characterName>
      <Value><![CDATA[Alexander]]></Value>
    </characterName>
    <gender>
      <Value><![CDATA[Male]]></Value>
    </gender>
    <image>
      <Value><![CDATA[https://rickandmortyapi.com/api/character/avatar/12.jpeg]]></Value>
    </image>
    <location>
      <Value><![CDATA[Anatomy Park]]></Value>
    </location>
    <origin>
      <Value><![CDATA[Earth (C-137)]]></Value>
    </origin>
    <species>
      <Value><![CDATA[Human]]></Value>
    </species>
    <status>
      <Value><![CDATA[Dead]]></Value>
    </status>
    <type>
      <Value><![CDATA[]]></Value>
    </type>
  </Properties>
</Content>