<?xml version="1.0" encoding="utf-8"?>
<Content Key="ee3ee399-3065-4123-bc78-0ef058ad2a6e" Alias="29-Baby Legs" Level="2">
  <Info>
    <Parent Key="61f0bb14-7737-470e-8f56-0d1eaf374bb1">Home Page</Parent>
    <Path>/HomePage/BabyLegs</Path>
    <Trashed>false</Trashed>
    <ContentType>characterPage</ContentType>
    <CreateDate>2024-02-19T13:50:32</CreateDate>
    <NodeName Default="29-Baby Legs" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9beccd7b-4f54-40db-b6ac-0e7ee2ae97a0">CharacterPage</Template>
  </Info>
  <Properties>
    <characterName>
      <Value><![CDATA[Baby Legs]]></Value>
    </characterName>
    <gender>
      <Value><![CDATA[Male]]></Value>
    </gender>
    <image>
      <Value><![CDATA[https://rickandmortyapi.com/api/character/avatar/29.jpeg]]></Value>
    </image>
    <location>
      <Value><![CDATA[Interdimensional Cable]]></Value>
    </location>
    <origin>
      <Value><![CDATA[unknown]]></Value>
    </origin>
    <species>
      <Value><![CDATA[Human]]></Value>
    </species>
    <status>
      <Value><![CDATA[Alive]]></Value>
    </status>
    <type>
      <Value><![CDATA[Human with baby legs]]></Value>
    </type>
  </Properties>
</Content>