<?xml version="1.0" encoding="utf-8"?>
<Content Key="d5f2f712-d72c-4508-981e-48a74a1a3c0b" Alias="3-Summer Smith" Level="2">
  <Info>
    <Parent Key="61f0bb14-7737-470e-8f56-0d1eaf374bb1">Home Page</Parent>
    <Path>/HomePage/SummerSmith</Path>
    <Trashed>false</Trashed>
    <ContentType>characterPage</ContentType>
    <CreateDate>2024-02-19T13:30:27</CreateDate>
    <NodeName Default="3-Summer Smith" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9beccd7b-4f54-40db-b6ac-0e7ee2ae97a0">CharacterPage</Template>
  </Info>
  <Properties>
    <characterName>
      <Value><![CDATA[Summer Smith]]></Value>
    </characterName>
    <gender>
      <Value><![CDATA[Female]]></Value>
    </gender>
    <image>
      <Value><![CDATA[https://rickandmortyapi.com/api/character/avatar/3.jpeg]]></Value>
    </image>
    <location>
      <Value><![CDATA[Earth (Replacement Dimension)]]></Value>
    </location>
    <origin>
      <Value><![CDATA[Earth (Replacement Dimension)]]></Value>
    </origin>
    <species>
      <Value><![CDATA[Human]]></Value>
    </species>
    <status>
      <Value><![CDATA[Alive]]></Value>
    </status>
    <type>
      <Value><![CDATA[]]></Value>
    </type>
  </Properties>
</Content>