<?xml version="1.0" encoding="utf-8"?>
<Content Key="61f0bb14-7737-470e-8f56-0d1eaf374bb1" Alias="Home Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomePage</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2024-02-08T23:24:47</CreateDate>
    <NodeName Default="Home Page" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d1b14ad5-308a-48d9-9cf0-38f1c8ecda2d">HomePage</Template>
  </Info>
  <Properties />
</Content>