<?xml version="1.0" encoding="utf-8"?>
<Content Key="859e4306-e836-4a15-a031-69c8a07a651e" Alias="Rick Sanchez" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/RickSanchez</Path>
    <Trashed>false</Trashed>
    <ContentType>characterPage</ContentType>
    <CreateDate>2024-02-12T21:23:35</CreateDate>
    <NodeName Default="Rick Sanchez" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9beccd7b-4f54-40db-b6ac-0e7ee2ae97a0">CharacterPage</Template>
  </Info>
  <Properties>
    <characterName>
      <Value><![CDATA[Rick Sanchez]]></Value>
    </characterName>
    <episodes>
      <Value><![CDATA[]]></Value>
    </episodes>
    <gender>
      <Value><![CDATA[Male]]></Value>
    </gender>
    <image>
      <Value><![CDATA[https://rickandmortyapi.com/api/character/avatar/1.jpeg]]></Value>
    </image>
    <location>
      <Value><![CDATA[]]></Value>
    </location>
    <origin>
      <Value><![CDATA[]]></Value>
    </origin>
    <species>
      <Value><![CDATA[Human]]></Value>
    </species>
    <status>
      <Value><![CDATA[Alive]]></Value>
    </status>
    <type>
      <Value><![CDATA[]]></Value>
    </type>
  </Properties>
</Content>