<?xml version="1.0" encoding="utf-8"?>
<Content Key="14fb09d9-92b9-4367-a24b-6415c55d5919" Alias="Rick Sanchez" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/RickSanchez</Path>
    <Trashed>false</Trashed>
    <ContentType>characterPage</ContentType>
    <CreateDate>2024-02-12T10:52:38</CreateDate>
    <NodeName Default="Rick Sanchez" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9beccd7b-4f54-40db-b6ac-0e7ee2ae97a0">CharacterPage</Template>
  </Info>
  <Properties>
    <characterName>
      <Value><![CDATA[Rick Sanchez]]></Value>
    </characterName>
    <gender>
      <Value><![CDATA[Male]]></Value>
    </gender>
    <species>
      <Value><![CDATA[Human]]></Value>
    </species>
    <status>
      <Value><![CDATA[Alive]]></Value>
    </status>
  </Properties>
</Content>